{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<meta http-equiv="pragma" content="no-cache" />


<head>
  <title>{% block title %}The BASE{% endblock %}</title>

  <style>
    .cta-full {
      width: 100%;
      border-radius: 5px;
      padding: 1em 2em;
      text-align: center;
      text-decoration: none;
      border: 2px solid rgba(0,0,0,1);
  }
  .bg-red {
    background-color: red;
    color: white;
  }

  .bg-black {
      background-color: black;
      color: white;
  }

  .bg-white{
      background-color: white;
      color: black;
    
  }

    </style>
</head>
<body>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
</body>
</html>