{% extends 'base.html' %}
{% load static %}

{% block title %}Transactions{% endblock %}
<!-- Start of page content -->


<!-- Text landing -->
{% block content %}
{% load tags %}
{% is_authenticated as auth %}
{% if auth %}
<center>
	<div>
    <div class="heroText">
        EVENT+ - Cancel Transaction
    </div>
	<div class='topnav'>
        <a href="{% url 'landingpage' %}"> Home </a>
		<a href="{% url 'profile' %}"> Profile </a>
        <a href="{% url 'ewallet' %}"> Wallet </a>
        <a class='active' href="{% url 'mytransactions' %}"> Transactions </a>
    </div>
    <br><br>
        <div class="heroText">
            Are you sure you wish to cancel this transaction? Your balance will be refunded.<br><br>
        </div>
        <div>
            <form method="post">
                <input type="submit" value="Yes">
                <a href= "{% url 'mytransactions' %}"> No</a>
            </form>
        </div>
    <br>
    </div>
	</center>
{% else %}
<div class="container">
    <div class="heroText">
        You are not logged in!
    </div>
    <div>
        <a href="{% url 'landingpage' %}"> HOME </a>
    </div>
</div>
{% endif %}
{% endblock %}