{% extends 'base.html' %}
{% load static %}

{% block title %}Event+{% endblock %}
<!-- Start of page content -->


<!-- Text landing -->
{% block content %}
<center>
  <div>
      {%for i in profile %}
        <h2>Hello,{{i.first_name}} {{i.last_name}}.</h2>
      {%endfor%}
  </div>
</center> 
<table>
  <tr>
    <th>No</th>
    <th>Event Theme</th>
    <th>Event Name</th>
    <th>Organizer</th>
    <th>Location</th>
    <th>Date</th>
    <th>Time</th>
    <th>Capacity</th>
    <th>[Order Ticket]</th>
  </tr>
{% for i in event %}
  <tr>
    <td></td>
    <td>{{i.theme_name}}</td>
    <td>{{i.name}}</td>
    <td>{{i.organizer_email}}</td>
    <td>{{i.venue_name}},{{i.address}},{{i.city}}</td>
    <td>{{i.start_date}} - {{i.end_date}}</td>
    <td>{{i.start_time}} - {{i.end_time}}</td>
    <td>{{i.total_capacity}} </td>
    <td><a href="{% url 'registerevent' %}">BOOK</a></td>  </tr>
  </tr>
 {% endfor%}
</table>
<br>
<center><a href="{% url 'landingpage' %}?page={{ page|add:"-1" }}" class="previous">&laquo; Previous</a>
<a href="{% url 'landingpage' %}?page={{ page|add:"1" }}" class="previous">&laquo; Next</a></center>
{% endblock %}