{% extends 'base.html' %}
{% load static %}

{% block title %}Event+{% endblock %}
<!-- Start of page content -->


<!-- Text landing -->
{% block content %}
<center><div class="heroText"> Welcome to EVENT+ </div></center>
<center><div>
      {%for i in profile %}
        <h2>Hello,{{i.first_name}} {{i.last_name}}.</h2>
      {%endfor%}
</div></center> <br>
<div class="topnav">
  <a class='active' href="{% url 'index' %}"> Home </a>
  <a href="{% url 'profile' %}"> Profile </a>
  <a href="{% url 'ewallet' %}"> Wallet </a>
  <a href="{% url 'mytransactions' %}"> Transactions </a>
  <a href="{% url 'registervisitor' %}">Register Visitor</a>
  <a href="{% url 'registerorganizer' %}">Register Organizer</a>
  <a href=#>Log Out</a>

  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button class="button button1">Search</button>
    </form>
  </div>
</div>
<br>
<table>
  <tr>
    <th>No</th>
    <th>Event Theme</th>
    <th>Event Name</th>
    <th>Organizer</th>
    <th>Location</th>
    <th>Date</th>
    <th>Time</th>
    <th>Capacity</th>
    <th>[Order Ticket]</th>
  </tr>
{% for i in event %}
  <tr>
    <td></td>
    <td>{{i.theme_name}}</td>
    <td>{{i.name}}</td>
    <td>{{i.organizer_email}}</td>
    <td>{{i.venue_name}},{{i.address}},{{i.city}}</td>
    <td>{{i.start_date}} - {{i.end_date}}</td>
    <td>{{i.start_time}} - {{i.end_time}}</td>
    <td>{{i.total_capacity}} </td>
    <td><a href="{% url 'registerevent' %}">BOOK</a></td>  </tr>
  </tr>
 {% endfor%}
</table>
<br>
<center><a href="#" class="previous">&laquo; Previous</a>
<a href="#" class="previous">&laquo; Next</a></center>
{% endblock %}