{% extends 'base.html' %}
{% load static %}

{% block title %}Register as Visitor{% endblock %}
<!-- Start of page content -->


<!-- Text landing -->
{% block content %}
<div class="container">
    <div class="heroText">
        EVENT+ - Register Visitor
    </div>
    <div>
		<form method="post">
		<br>
			<label for="your_email">Email: </label>
			<input id="your_email" type="text" name="your_email" value="{{ current_email }}"> <br> <br>
			<label for="your_password">Password: </label>
			<input id="your_password" type="text" name="your_password" value="{{ current_password }}"> <br> <br>
			<label for="your_name">Name: </label>
			<input id="your_name" type="text" name="your_name" value="{{ current_name }}"> <br> <br>
			<label for="your_address">Address: </label>
			<input id="your_address" type="text" name="your_address" value="{{ current_address }}"> <br> <br>
			<input type="submit" value="Register">
			<a href= "{% url 'index' %}"> Cancel </a>
		</form>
	</div>
{% endblock %}